on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    name: create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build and test
        run: |
          rustup target add x86_64-unknown-linux-musl
          cargo build --target x86_64-unknown-linux-musl --release
          cargo test --target x86_64-unknown-linux-musl --release
        env:
          IHN_HPC_SBATCH_ARRAY_VERSION: ${{ github.ref_name }}
      - name: create GitHub release
        run: gh release create ${{ github.ref_name }} cache-image.sh target/x86_64-unknown-linux-musl/release/ihn-hpc-sbatch-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ZIP_FILE: ihn-hpc-sbatch-array-${{ github.ref_name }}.zip
